
h3 {
  margin: 0;
 /* background-color: rgb(228,10,85);
  background-image: linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);
  background-image: -o-linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);
  background-image: -moz-linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);
  background-image: -webkit-linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);
  background-image: -ms-linear-gradient(bottom, rgb(228,10,85) 14%, rgb(255,36,111) 57%);*/
}

h3 a {
  background: url("../images/1list.png")15px 13px no-repeat;
  display: block; 
  padding-left: 20px;
  margin: 0; 
  color:#333; 
  font-family:Arial, Helvetica, sans-serif; 
  font-size:12px;
  text-decoration: none;
  font-weight: normal;  
}
h3 a:hover{ background: url("../images/list_h.png")15px 13px no-repeat; color:#FFFFFF}
h3:hover { background:#428BCA; color:#FFFFFF; }
h3.open  { background:#ccc; color:#FFFFFF;  }
h3 + div { padding:10px;}



/* Pre hide sections with JavaScript on
--- */
h3+div {
  display: none;
}

/* CSS3 Animation example
--- */
#css3-animated-example h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition: all 0.3s ease;
}
#css3-animated-example .content {
  padding: 1px;
}

#css3-animated-example h3.open + div {
  height: auto;
  background: #F8F8F8; color:#FFFFFF;}

li a{ line-height:30px;  background:#fff; display:block; border-top:#ccc dotted 1px; text-indent:10px; color:#0274AF}

li a:hover{ background:#F5F4F4;  text-decoration:none; color:#1933EC; cursor:pointer}

a {
  text-decoration: none;
}


a .menu{ color:#FFFFFF}
.a menu { color:#FFFFFF; text-decoration:none;}